$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

@mixin visible { display: block; visibility: visible; }
@mixin invisible { display: none; visibility: hidden; }

.container { width: $container-desktop !important; }

body {
    padding-top: 20px;
    padding-bottom: 20px;

    .navbar .ajaxLoader {
        margin-top: 14px;
    }

    .navbar .navBarOptions { @include visible; }
    &.loading .navbar .navBarOptions { @include invisible; }
    .navbar .ajaxLoader { @include invisible; }
    &.loading .navbar .ajaxLoader { @include visible; }

    .navbar .select2 {
        margin-top: 10px;
        margin-left: 10px;
    }
    .chart svg {
        display: block;
        margin: auto;
    }

    .bar:hover {
      opacity: 0.5;
    }

    .axis {
      font: 10px sans-serif;
    }

    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path,
    .x.axis line,
    .axis path {
      display: none;
    }
}
