$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
	.ajaxLoader {
    	margin-top: 14px;
	}
}

.jumbotron {
    text-align: center;
	.btn {
		font-size: 21px;
		padding: 14px 24px;
	}

	table {
		table th.amount,
		table td.amount {
			text-align: left;
		}
		th {
			text-align: center;
			&.amount {

			}
		}
	}
}

